<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script>
    </script>
</head>
<body>
<header>
    <div class="mainTitle">
        <div class="mainTitle-name" onclick="location.href='index.html'">데이터 표준화 서비스</div>
    </div>
</header>
<div class="find">
    <form>
        <h1>ID/PW 찾기</h1>
        <fieldset>
            <legend>아이디 찾기</legend>
            <table>
                <tr>
                    <th>이름</th>
                    <td><input type="text" size="35" name="name" placeholder="이름"></td>
                </tr>
                <tr>
                    <th>핸드폰 번호</th>
                    <td><input type="text" name="tel_h1" required> -
                        <input type="text" name="tel_h2_1" required> -
                        <input type="text" name="tel_h2_2" required>
                    </td>
                </tr>
            </table>
            <input type="submit" value="아이디 찾기"/>
        </fieldset>
    </form>
</div>
<div class="find">
    <form>
        <fieldset>
            <legend>비밀번호 찾기</legend>
            <table>

                <tr>
                    <th>이름</th>
                    <td><input type="text" size="35" name="name" placeholder="이름"></td>
                </tr>
                <tr>
                    <th>핸드폰 번호</th>
                    <td><input type="text" name="tel_h1" required> -
                        <input type="text" name="tel_h2_1" required> -
                        <input type="text" name="tel_h2_2" required>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td><input type="text" name="email">@<select name="emadress">
                        <option value="naver.com">naver.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="hanmail.com">hanmail.com</option>
                        <option value="gmail.com">gmail.com</option>
                    </select></td>
                </tr>
            </table>
            <input type="submit" value="비밀번호 찾기"/>
        </fieldset>
    </form>
</div>
</body>
</html>
