<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script src="../static/js/search.js" defer></script>
    <!--
    <script src = "js/pagination.js" defer> </script>
        defer 속성은 페이지가 모두 로드된 후에 해당 외부 스크립트가 실행됨을 명시
        http://tcpschool.com/html-tag-attrs/script-defer-->
    <script type="text/javascript">

        /* select 설정 */
        const ALL_VALUE = 'all';
        const DICT_VALUE = 'dict';
        const DOMAIN_VALUE = 'domain';
        const WORD_VALUE = 'word'

        const TABLE_CODE = {
            DICT: 'dict',
            DOMAIN: 'domain',
            WORD: 'word'
        }

        // const Table_Const = [{name: 'all', value: 'all'},{name: 'dict', value: 'dict'}, {name: 'domain', value: 'domain'}, {
        //     name: 'word', value: 'word'}];

        const Field_Const = {
            DICT: [{name: '이름', code: ''}, {name: '영어이름', code: ''}, {name: '화면이름', code: ''}],
            DOMAIN: [{name: '이름', code: 'name'}, {name: '타입', code: 'type'}, {name: '길이', code: 'size'}, {
                name: '정확도',code: 'scale'}, {name: 'nullable', code: 'nullable'}, {name: 'DB타입', code: 'db'}, {name: '상태', code: 'status'}],
            WORD : [{name:'이름', code:'eng'}, {name:'한글이름', code:'name'}, {name:'원문영어이름', code:'org'}]
        }


        /* 테이블 페이지 전환 */


        /* select 설정 */



        function categoryFunction(event) {

            let add;
            const target = document.getElementById("mySelect2");
            const menuSelect = ["이름"];
            const dict = ["한글이름", "영어이름", "화면이름"];
            const domain = ["이름", "타입", "길이", "정확도", "nullable", "DB타입", "상태"];
            const word = ["이름","한글이름", "원문영어이름"];

            if (event.value == "dict") {
                add = dict;
            } else if (event.value == "domain") {
                add = domain;
            } else if (event.value == "word") {
                add = word;

            } else if (event.value == "all") {
                add = menuSelect;
            }

            target.options.length = 0;
            for (let property in add) {
                let opt = document.createElement("option");
                opt.value = add[property];
                opt.innerHTML = add[property];
                target.appendChild(opt);
            }

            if (event.value == DICT_VALUE) {
                document.getElementById('dict-wrap').style.display = 'block';
                document.getElementById('domain-wrap').style.display = 'none';
                document.getElementById('word-wrap').style.display = 'none';
            } else if (event.value == DOMAIN_VALUE) {
                document.getElementById('dict-wrap').style.display = 'none';
                document.getElementById('domain-wrap').style.display = 'block';
                document.getElementById('word-wrap').style.display = 'none';
            } else if (event.value == WORD_VALUE) {
                document.getElementById('dict-wrap').style.display = 'none';
                document.getElementById('domain-wrap').style.display = 'none';
                document.getElementById('word-wrap').style.display = 'block';
            } else if (event.value == ALL_VALUE) {
                document.getElementById('dict-wrap').style.display = 'block';
                document.getElementById('domain-wrap').style.display = 'block';
                document.getElementById('word-wrap').style.display = 'block';
            }
        }

    </script>
</head>
<body>
<header>
    <div class="mainTitle">
        <div class="mainTitle-name" onclick="location.href='index.html'">데이터 표준화 서비스</div>

        <div class="main-menu">
            <button type="button" class="menu list" type="button" onclick="location.href='requestList.html'">
                <img src="../static/images/requestListIcon.png" class="list" alt="requestList">
            </button>
            <button type="button" class="menu myPage" type="button">
                <img src="../static/images/mypageIcon.png" class="myPage" alt="requestList">
            </button>
        </div>

    </div>
</header>

<p id="demo"></p>
<div class="main ">
    <form>
        <div class="request-name-box">검색</div>
        <div class="inner-form">
            <th: each></th:>
            <div class="input-field first-wrap">
                <select id="mySelect1" name="Total" onchange="categoryFunction(this)">
                    <option value="all"> ---전체---</option>
                    <option value="dict"> 용어</option>
                    <option value="domain"> 도메인</option>
                    <option value="word"> 단어</option>
                </select>
                <select id="mySelect2" name="Total">
                    <option value="all">이름</option>
                </select>
            </div>
            <div class="input-field second-wrap">
                <input id="search" class="search form-control" type="text" placeholder="search"/>
            </div>
            <div class="input-field third-wrap">
                <button id="btn1" type="button" class="btn-search" type="button">
                    <img src="../static/images/search.png" class="searchImg" alt="search">
                </button>
            </div>
        </div>
    </form>

    <div id="total-table" class="total-table table-wrap ">
        <div id="dict-wrap" class="table-box">
            <span class="name-box">용어</span>
            <button type="button" class="menu " type="button" onclick="">
                <img src="../static/images/plus.png" class="plus" alt="requestList">
            </button>
            <table id="dict" class="table table-hover results">
                <thead>
                <tr>
                    <th class="col-xs-2">보기</th>
                    <th class="col-xs-2">한글이름</th>
                    <th class="col-xs-2">영어이름</th>
                    <th class="col-xs-1">화면이름</th>
                    <th class="col-xs-1">도메인</th>
                    <th class="col-xs-1">타입</th>
                    <th class="col-xs-1">길이</th>
                    <th class="col-xs-1">정확도</th>
                    <th class="col-xs-0">nullable</th>
                    <th class="col-xs-1"> 공통코드</th>
                    <th class="col-xs-1"> 전략</th>
                    <th class="col-xs-1"> 설명</th>
                    <th class="col-xs-1"> 상태</th>
                </tr>
                </thead>
            </table>
            <div id="pageNavPosition" class="pager-nav"></div>
        </div>
        <div id="domain-wrap" class="table-box">
            <span class="name-box">도메인</span>
            <button type="button" class="menu" type="button" onclick="">
                <img src="../static/images/plus.png" class="plus" alt="requestList">
            </button>
            <table id="domain" class="table table-hover results">
                <thead>
                <tr>
                    <th class="col-xs-2">보기</th>
                    <th class="col-xs-2">도메인 명</th>
                    <th class="col-xs-1">DB타입</th>
                    <th class="col-xs-1">타입</th>
                    <th class="col-xs-1">길이</th>
                    <th class="col-xs-1">정확도</th>
                    <th class="col-xs-1">nullable</th>
                    <th class="col-xs-1">상태</th>
                </tr>

                </thead>

            </table>
        </div>
        <div id="word-wrap" class="table-box">
            <span class="name-box">단어</span>
            <button type="button" class="menu" type="button" onclick="">
                <img src="../static/images/plus.png" class="plus" alt="requestList">
            </button>
            <table id="word" class="table table-hover results">
                <thead>
                <tr>
                    <th class="col-xs-2">보기</th>
                    <th class="col-xs-1">약어</th>
                    <th class="col-xs-2">한글이름</th>
                    <th class="col-xs-2">영어이름</th>
                    <th class="col-xs-2">상태</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

</body>
</html>
