<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script>
    </script>
</head>
<body>
<header>
    <div class="mainTitle">
        <div class="mainTitle-name" onclick="location.href='index.html'">데이터 표준화 서비스</div>

    </div>
</header>

    <form>
        <h2>Login</h2>
        <div class="container">
            <label for = "uname"> <b>User Name</b></label></p>
            <input type="email" placeholder="이메일을 입력해주세요" name="uname" required></p>

            <label for = "pw"> <b>Password</b></label></p>
            <input type="password" placeholder="이메일을 입력해주세요" name="pw" required></p>
            <span class="">Forgot <a href="#">password?</a></span></p>
            <button type="submit"> Login </button>
        </div>

    </form>

</body>
</html>
