<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script>
    </script>
</head>
<body>
<header>
    <div class="mainTitle">
        <div class="mainTitle-name" onclick="location.href='index.html'">데이터 표준화 서비스</div>
        <div class="main-menu">
            <button type="button" class="menu list" type="button" onclick="location.href='requestList.html'">
                <img src="../static/images/requestListIcon.png" class="list" alt="requestList">
            </button>
            <button type="button" class="menu myPage" type="button" onclick="location.href='myPage.html'">
                <img src="../static/images/mypageIcon.png" class="myPage" alt="requestList">
            </button>
        </div>

    </div>
</header>
<div class="main">
    마이페이지
</div>
</body>
</html>
