<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <script>
    </script>
</head>
<body>
<header>
    <div class="mainTitle">
        <div class="mainTitle-name" onclick="location.href='index.html'">데이터 표준화 서비스</div>

    </div>
</header>

<form class="signin">
    <table style="padding:5px 0 5px 0; ">
        <tr height="2">
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>이메일(아이디)</th>
            <td>
                <input type='email' name=""required>
            </td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name=""required></td>
        </tr>
        <tr>
            <th>비밀번호 확인</th>
            <td><input type="password" name=""required></td>
        </tr>
        <tr>
            <th> 이름</th>
            <td><input type="text" name=""required></td>
        </tr>
        <tr>
            <th>핸드폰 번호</th>
            <td><input type="text" name="t"required> -
                <input type="text" name=""required> -
                <input type="text" name=""required>
            </td>
        </tr>
        <tr height="2">
            <td><input type="text" name="" required>소속</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="회원가입">
            </td>
        </tr>
    </table>
    </td>
    </tr>
</form>

</body>
</html>
